.title {
    margin-bottom: 10px;
    font-size: 18;
}

.home-container {
    width: 75%;
    height: 100%;
    background-color: var(--background-form);
    margin-left: 280px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
}

.home-container textarea {
    border: none;
    min-height: 50px;
    padding: 15px;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    width: 75%;
    overflow: hidden;
    resize: vertical;
    max-height: 200px;
    margin-top: 10px;
}

.map-section {
    display: flex;
    flex-direction: row;
    height: 500px;
}

.map {
    height: 100%;
    width: 100%;
    border-radius: 14px;
}
.map-container {
    height: 70%;
    width: 100%;
}

.button-confirm {
    background-color: var(--verde-claro);
    font-size: 18px;
    text-align: center;
    width: 100%;
    border-radius: 10px;
    border: none;
    height: 50px;
    color: var(--background-side-menu);
}

.professional-container {
    width: 30%;
    max-height: 83%;
    border-radius: 14;
    background-color: var(--background-side-menu);
    border-radius: 14px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
}

.professional-container img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.professional-content {
    width: 90%;
}

.name {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.average {
    display: flex;
    flex-direction: row;
    color: var(--text-color);
}

.professional-title {
    font-size: 18px;
    margin-top: 20px;
}

.professional-description {
    font-size: 14px;
    color: var(--text-color);
    margin-top: 10px;
}

.button-solicitar {
    height: 40px;
    text-align: center;
    width: 100%;
    font-size: 18px;
    background-color: var(--verde-claro);
    color: var(--background-side-menu);
    border-radius: 8px;
    border: none;
}