body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --verde-claro: #19d7c8;
    --verde-escuro: #2daca2;
    --background-dashboard: #f9f9f9;
    --background-form: #efefef;
    --background-side-menu: #fff;
    --text-color: #999999;
}

.container {
    display: flex;
    flex-direction: row;
    /* height: 100vh; */
    width: 100%;
    overflow: hidden;
}

.side-menu {
    height: 100vh;
    background-color: var(--background-side-menu);
    width: 280px;
    position: fixed;
    left: 0;
    padding: 20px;
}

.side-menu-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
}

.side-menu-header img {
    height: 50px;
    border-radius: 10px;
}

.side-menu-header p {
    font-size: 24px;
    margin-left: 10px;
}

.side-menu-items {
    list-style: none;
    text-decoration: none;
    height: 40%;
    width: 100%;
    font-size: 18px;
}

.side-menu-items li {
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.side-menu-items li:hover {
    cursor: pointer;
}

.side-menu-items p {
    margin-left: 10px;
}

.selected-item {
    background-color: #e0ebe7;
}
