body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ;
}

.modal-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0
}

.modal-window {
    background-color: #fff;
    padding: 30px 40px;
    font-size: 18px;
    border-radius: 14px;
}

input {
    height: 50px;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: #efefef;
    padding: 10px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.modal-buttons {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal-buttons button {
    height: 50px;
    width: 48%;
    border-radius: 10px;
    font-size: 18px;
}

.finish-modal-window {
    width: 40%;
    background-color: #fff;
    padding: 30px 40px;
    font-size: 18px;
    border-radius: 14px;
}